.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #FF74B1;
  color: #ffffff ;
  border: none ;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.back-to-top i {
  font-size: 20px;
  color: #ffffff;
  line-height: 0;
}

.back-to-top:hover {
  background-color: #ffffff ;
  color: #FF74B1;
  border: 2px solid #FF74B1;
  transform: scale(1.1) ;
}

.back-to-top:hover i {
  color: #FF74B1 ;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}