@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #000000;

  --brand-pink: #FF74B1;
  --brand-black:#000000;
  --brand-white:#ffffff;

  --font-poppins: "Poppins", sans-serif;
}

body, html, main {
  background: var(--background) !important;
  color: var(--foreground)!important;
  font-family: var(--font-poppins)!important;
}

h1, h2, h3, h4, h5, h6 {
  color: #FF74B1 !important;
  font-family: var(--font-poppins) !important;
  font-weight:700 !important;
}


/* Force links to never be blue or underlined */
a {
  color: #000000 !important;
  text-decoration: none !important;
}

/*Navbar specific overrides*/
nav { 
  background-color: #FFFFFF !important;
  border-bottom: 1px solid #E5E5E5 !important;
}

nav a {
  color: #000000 !important;
  text-decoration: none !important;
  font-weight: 500 !important;
}

nav a:hover {
  color: #FF74B1 !important;
}

/* force button to be pink with white text */
button, .menu-btn {
  background-color: var(--brand-pink) !important;
  color: var(--brand-white) !important;
  border: none !important;
  cursor: pointer !important;

  padding: 12px 32px !important;
  border-radius: 9999px !important;
  font-weight: 600 !important;
}
button:hover, .menu-btn:hover {
  background-color: var(--brand-white) !important;
  color: var(--brand-pink) !important;
}

img {
  max-width: 100%;
  height: auto;
}