@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #000000;
  --brand-pink: #FF74B1;
  --brand-black:#000000;
  --brand-white:#ffffff;
  --font-poppins: "Poppins", sans-serif;
}

body {
  background: var(--background) !important;
  color: var(--foreground)!important;
  font-family: var(--font-poppins);
}

img {
  max-width: 100%;
  height: auto;
}